.fable/
.fake/
.farmer/
.idea/
.ionide/
.vs/
deploy/
obj/
bin/
packages/
paket-files/
node_modules/
release.cmd
release.sh
*.orig
*.DotSettings.user
packages-microsoft-prod.deb
src/Server/public/data/output/
src/Client/public/js/snippet2
src/Client/public/js/scratch.js
src/Client/public/js/snipper.js
src/Docs/elmishDoc.html
temp/
*.fs.js
src/Server/Properties
*.fsproj.user
*.diff
*.log